.root {
    -fx-background-color: #fff5eb;
}

.button {
    -fx-background-color: #fb9300;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-family: "Microsoft Sans Serif";
}

.button:hover {
    -fx-background-color: #ff9350;
    -fx-text-fill: white;
}

.text-area {
    -fx-background-color: orange;
}